

.hexagonContainer {
    --hex-width: 115px;
    --hex-between: 5px;

    /* Other hexagon dimensions */
    --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
    --hex-margin: calc(var(--hex-width) / 2);
    --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
    --hex-transition: all .2s ease;

    --color-hex-default: rgba(71, 71, 71, 0.6);
    --color-hex-hover:   rgba(71, 191, 71, 0.3);
}
.hexagonContainer a {
    text-decoration: none;
}
a ul.hexagons > li {
    color:white;
    font-family: calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 12px;
    text-decoration: none;
}

ul.hexagons > li:hover {
    background-color: var(--color-hex-hover);
}

@media only screen and (max-width: 950px) {
    ul.hexagons {
        grid-template-columns: 48% 48%;
        display: grid;
        list-style: none;
    }

    ul.hexagons > li {
        background-color: var(--color-hex-default);
        margin-right:4%;
        padding: 15px;
    }

    ul.hexagons > li > a {
        color: white;
        text-decoration: none;
    }
}

@media only screen and (min-width: 950px) {
    ul.hexagons {
        list-style: none;
        display: grid;
        grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width)  var(--hex-width);
        grid-auto-rows: calc(var(--hex-width) - 35px/7 );
        grid-gap: var(--hex-between) var(--hex-between);
        padding-bottom: var(--hex-border);
    }


    ul.hexagons > li {
        align-items: center;
        background-color: var(--color-hex-default);
        cursor: pointer;
        display: flex;
        fill: white;
        height: var(--hex-height);
        justify-content: center;
        margin: var(--hex-border) 0;
        position: relative;
        transition: var(--hex-transition);
        width: var(--hex-width);
        text-align: center;
    }


    ul.hexagons > li::after,
    ul.hexagons > li::before {
        border-left: var(--hex-margin) solid transparent;
        border-right: var(--hex-margin) solid transparent;
        content: "";
        left: 0;
        position: absolute;
        transition: var(--hex-transition);
        width: 0;
    }
    ul.hexagons > li::after {
        border-top: var(--hex-border) solid var(--color-hex-default);
        top: 100%;
        width: 0;
    }
    ul.hexagons > li::before {
        border-bottom: var(--hex-border) solid var(--color-hex-default);
        bottom: 100%;
    }

    ul.hexagons > li:hover::after,
    ul.hexagons > li:hover::before {
        border-top-color: var(--color-hex-hover);
        border-bottom-color: var(--color-hex-hover);
    }

    ul.hexagons > li:nth-child(8),
    ul.hexagons > li:nth-child(9),
    ul.hexagons > li:nth-child(10),
    ul.hexagons > li:nth-child(11),
    ul.hexagons > li:nth-child(12),
    ul.hexagons > li:nth-child(13),
    ul.hexagons > li:nth-child(14)
    {
        margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
        top: -10px;
    }

    ul.hexagons > li:nth-child(12n + 15),
    ul.hexagons > li:nth-child(12n + 16),
    ul.hexagons > li:nth-child(12n + 17),
    ul.hexagons > li:nth-child(12n + 18),
    ul.hexagons > li:nth-child(12n + 19),
    ul.hexagons > li:nth-child(12n + 20),
    ul.hexagons > li:nth-child(12n + 21)

    {
        top: -20px;
    }
    ul.hexagons > li:nth-child(12n + 22),
    ul.hexagons > li:nth-child(12n + 23),
    ul.hexagons > li:nth-child(12n + 24)
    {
        top: -30px;
    }
}